<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <img src="assets/icons/twitter_profile_image.png" class="rounded-circle" style="width: 60%; margin: 2px">
            <div class="form-box">
                <form action="" method="">
                    <input name="user" type="text" placeholder="username">
                    <input type="password" placeholder="password">
                    <a href="/home" style="background: #1872A6" class="btn btn-info btn-block login" style="margin: 2px">Login</a>
                </form>
            </div>
        </div>
        
</div>